<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/nav') -%>

        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center my-5">Apple CEOs</h1>
                <a href="/ceos" class="btn btn-primary btn-lg">View CEOs</a>
            </div>
        </div>

</body>

</html>